<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CSpForum</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
    rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css">
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
</head>
<%if(darkTema){%>

  <body class="dark">
    <%}%>
      <%if(!darkTema){%>

        <body>
          <%}%>
            <!-- Page Preloder -->
            <div id="preloder">
              <div class="loader"></div>
            </div>

            <div class="container_no_pass">
              <div class="forgot-password-container">
                <div class="forgot-password-title">
                  <span>Забыли пароль?</span>
                </div>

                <form action="/forgotpass" method="post">
                  <div class="input-field">

                    <input type="text" name="email" required placeholder="Введите почту..">
                  </div>


                  <div class="incorrect-text">
                    <% if(noticed){ %>
                      <div class="no-data">
                        <span id="mydiv3">
                          <%=noticed %>
                        </span>
                      </div>
                      <% } %>
                        <% if(success) {%>
                          <div class="mail-pass">
                            <span id="mydiv4">Пароль отправлен на почту</span>
                          </div>
                          <% } %>
                  </div>

                  <div class="inputs-button">

                    <div class="input-button">
                      <button type="submit">Отправить</button>
                    </div>

                    <div class="input-button">
                      <a href="/reg">
                        <button type="button">Вернуться</button>
                      </a>
                    </div>
                  </div>

                </form>
              </div>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            <script src="js/preloader.js"></script>
        </body>

</html>